- content_for :head do
  = javascript_include_tag 'home', media: 'all'
.container
  .row
    .col-md-6.col-md-offset-3
      .page-header
        %h1 SunKite
      .panel.panel-default#panel-form
        .panel-heading
          Введите твиттор
          #panel-errors
        .panel-body
          = bootstrap_form_tag do |f|
            = f.text_field :search, append: link_to("Go", "#", class: "btn btn-default", id:"search_button"), hide_label: true, id: "search_form"
      %h3
        %p.bg-danger#errors
      #UserInfo
  .row
    .col-md-12  
      #UserGallery